.gpt3__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gpt3__brand div {
  margin: 2rem;
  transition: 0.3s;
}

.gpt3__brand div:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

@media screen and (max-width: 550px) {
  .gpt3__brand div {
    margin: 1rem 2rem !important;
  }
}
