.gpt3__whatgpt3 {
  display: flex;
  background: var(--color-footer);
  padding: 2rem;
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );
  flex-direction: column;
}

.gpt3__whatgpt3-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0rem;
}

.gpt3__whatgpt3-title h1 {
  font-family: var(--font-family);
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  max-width: 500px;
}

.gpt3__whatgpt3-title p {
  color: var(--color-subtext);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  transition: 0.3s;
}

.gpt3__whatgpt3-title p:hover {
  cursor: pointer;
  transform: translateX(-10px);
}

.gpt3__whatgpt3-main-feature .gpt3__feature-text {
  max-width: 730px;
}

.gpt3__whatgpt3-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gpt3__whatgpt3-container .gpt3__feature-container {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  flex: 1;
  max-width: 400px;
}

.gpt3__feature-container:nth-last-child(1) {
  margin-right: 0rem !important;
}

@media screen and (max-width: 1050px) {
  .gpt3__feature-container {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .gpt3__whatgpt3-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .gpt3__whatgpt3-title h1 {
    font-size: 16px;
    line-height: 22px;
  }
  .gpt3__whatgpt3-title p {
    font-size: 12px;
    line-height: 18px;
  }
  .gpt3__whatgpt3-title p {
    margin: 1rem 0rem;
  }
  .gpt3__whatgpt3-title {
    margin: 1rem 0rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__feature-container {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
}
